<div class="flex flex-col h-full overflow-hidden">
  <%= link_to "javascript:history.go(-1)", class: "w-fit text-lg font-medium my-2 has-text-grey hover:text-primary flex flex-row items-center gap-2" do %>
    <span class="icon">
      <i class="fa-solid fa-arrow-left"></i>
    </span>
    <span>Back</span>
  <% end %>
  <div class="flex flex-col p-2 h-full overflow-y-auto" id="form-container">
    <%= render "expense_form" %>
  </div>
</div>
