<section class="flex flex-col gap-5">
  <span class="flex items-center justify-between">
    <h2 class="font-bold text-4xl">Wallet</h2>
    <%= link_to "Add to wallet", new_wallet_path, class: "button is-primary font-bold border-2 is-outlined w-fit"%>
  </span>
</section>
