<section class="flex justify-center items-center w-full h-full p-24">
  <div class="flex w-full h-full justify-center box bg-primary ">
    <div class="w-1/2 flex flex-col justify-center items-center p-10 h-full text-white gap-5">
      <%= image_tag("logo-white.png", alt: "Logo", class: "w-full ") %>
      <span class="font-light  underline underline-offset-8 text-2xl whitespace-nowrap text-center">Empower Your Finances, Master Your Budget</span>
    </div>
    <%= render "form" %>
  </div>
</section>
