<section class="flex justify-center items-center w-full h-full p-24">
  <div class="flex w-full h-full justify-center box bg-primary ">
    <div class="w-1/2 h-full text-white">
      Expense Master
    </div>
    <%= render "form" %>
  </div>
</section>
