<%= link_to request.referrer, id: "back-button", class: "w-fit text-lg font-medium my-2 has-text-grey hover:text-primary flex flex-row items-center gap-2" do %>
  <span class="icon">
    <i class="fa-solid fa-arrow-left"></i>
  </span>
  <span>Back</span>
<% end %>
