<% flash.each do |type, message| %>
  <div id="flash-message" class="container notification is-<%= type == "error" ? "danger" : type %> is-light">
    <button class="delete"></button>
    <div class="notification-content">
      <%= message %>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    function hideFlashMessage(ele) {
      $(ele).fadeOut("slow", function() {
        $(this).remove();
      });
  }

  $('#flash-message .delete').click(function() {
    hideFlashMessage("#flash-message");
  });

  setTimeout(function() {
      hideFlashMessage("#flash-message");
    }, 3000);
  });
</script>
