<% flash.each do |type, message| %>
  <div id="flash-message" class="container notification is-<%= type == "error" ? "danger" : type %> is-light">
    <button class="delete"></button>
    <div class="notification-content">
      <%= message %>
    </div>
  </div>
<% end %>
<script>
  function removeFlashMessage() {
    const flashMessage = document.getElementById('flash-message');
    flashMessage.remove();
  }

  function hideFlashMessage() {
    const flashMessage = document.getElementById('flash-message');
    flashMessage.classList.add('hide');
    setTimeout(removeFlashMessage, 500);
  }

  function closeFlashMessage() {
    const closeButton = document.querySelector('#flash-message .delete');
    closeButton.addEventListener('click', () => {
      hideFlashMessage();
    });
  }

  setTimeout(hideFlashMessage, 3000);
  closeFlashMessage();
</script>
