<div id="flash-message"class="container my-4">
  <% flash.each do |type, message| %>
    <div class="notification is-<%= type == "error" ? "danger" : type %> is-light">
      <button class="delete"></button>
      <div class="notification-content">
        <%= message %>
      </div>
    </div>
  <% end %>
</div>
<script>
  function removeFlashMessage() {
    var flashMessage = document.getElementById('flash-message');
    flashMessage.style.display = 'none';
  }
   function hideFlashMessage() {
    var flashMessage = document.getElementById('flash-message');
    flashMessage.classList.add('hide');
    setTimeout(removeFlashMessage,500);
  }
  setTimeout(hideFlashMessage, 5000);
</script>
