  <% flash.each do |type, message| %>
  <div id="flash-message" class="container notification is-<%= type %> is-light">
    <button class="delete"></button>
    <div class="notification-content">
      <%= message %>
    </div>
  </div>
<% end %>
<%= javascript_pack_tag 'shared/flashes' %>