<section class="flex justify-center items-center w-full h-full p-24">
  <div class="flex w-full h-fit justify-center box bg-primary ">
    <div class="w-1/2 flex flex-col justify-center my-auto items-center p-10 h-full text-white gap-2">
      <%= image_tag("logo-white.png", alt: "Logo", class: "w-full ") %>
      <span class="font-light underline underline-offset-8 text-xl text-center">Empower Your Finances, Master Your Budget</span>
    </div>
    <%= yield %>
  </div>
</section>
