<div class="flex w-full h-full items-center justify-center font-bold text-center text-2xl text-gray-600" id="list-message">
  <% if Current.user&.is_admin? %>
    <%= message %>
  <% else %>
    No <%= object.pluralize %> are found.
  <% end %>
</div>
