<div class="field w-1/2">
  <div class="control has-icons-left">
    <input class="input border-primary border-2 is-rounded" type="text" placeholder="Search">
    <span class="icon is-small is-left">
      <i class="fa-solid fa-magnifying-glass"></i>
    </span>
  </div>
</div>
