<%= link_to "javascript:history.go(-1)", class: "w-fit text-lg font-medium my-2 has-text-grey hover:text-primary flex flex-row items-center gap-2" do %>
  <span class="icon">
    <i class="fa-solid fa-arrow-left"></i>
  </span>
  <span>Back</span>
<% end %>
<div class="my-8 mx-2" id="form-container">
  <%= render "form" %>
</div>
