<section class="flex flex-col gap-5">
  <span class="flex items-center justify-between">
    <h2 class="font-bold text-4xl">Wallet</h2>
    <%= link_to "Add to wallet", new_wallet_path, class: "button is-primary font-bold border-2 is-outlined w-fit"%>
  </span>
  <span class="text-2xl font-bold flex items-center gap-2">
    Total amount:
    <span class="icon-text text-primary">
      <span class="icon">
        <i class="fa-solid fa-indian-rupee-sign"></i>
      </span>
      <span>
        <%= @total_amount %>
      </span>
    </span>
  </span>
 <div class="flex flex-col p-2 h-full overflow-y-auto" id="wallet_list">
    <%= render @wallets %>
    <% if @wallets.nil? %>
      <%= render "shared/message", object: "Wallet" %>
    <% end %>
  </div>
</section>
