<section class="w-full flex justify-center items-center">
  <div class="box has-background-light shadow-md rounded-lg px-72 h-fit py-32 w-fit flex flex-col gap-10">
    <h1 class="text-7xl text-primary font-semibold mb-2">500 - Internal Server Error</h1>
    <p class="has-text-dark font-bold mb-4">Oops! Something went wrong on our server.</p>
    <span class="mx-auto">
      <%= render "shared/back_button" %>
    </span>
  </div>
</section>
