<span class="tag font-bold is-small is-light is-<%= expense.status_before_type_cast == 0 ? 'warning' : (expense.status_before_type_cast == 1 ? 'success' : 'danger')  %>">
  <%= expense.status.humanize %>
</span>
<% if expense.status == "rejected" %>
  <div class="relative flex items-center w-full">
    <span class="button icon is-danger is-light text-lg p-4 rounded-full tooltip" data-tooltip>
      <i class="fa-solid fa-circle-info"></i>
    </span>
    <p class="box w-3/4 tooltip-text has-background-danger-light opacity-0 p-3 z-10 flex-grow absolute has-text-danger-dark font-medium text-sm rounded bottom-full left-14 h-fit break-all top-0 pointer-events-none after:content-[''] after:block after:p-2 after:bg-inherit after:top-0 after:left-0 after:absolute after:rotate-45 after:-translate-x-1/2 after:rounded-sm after:translate-y-3">
      <%= expense.rejection_reason %>
    </p>
  </div>
<% end %>
<%= javascript_pack_tag "handel_tooltip" %>
