<section class="flex flex-col h-full overflow-hidden gap-5">
  <span class="flex items-center justify-between">
    <h2 class="font-bold text-4xl">Expense Tracker</h2>
    <%= link_to "Create Expense", new_expense_path, class: "button is-primary font-bold border-2 is-outlined w-fit" %>
  </span>
  <%= render "filters" %>
  <div class="flex flex-col p-2 h-full overflow-y-auto" id="expense_list">
    <%= render @expenses %>
  </div>
</section>

