<div class="flex flex-col gap-5">
  <h3 class="font-bold text-2xl">Category Wise Report:</h3>
  <%= column_chart @category_data, title: 'Category Analysis', xtitle: 'Category', ytitle: 'Expense Amount', colors: ['#35BB78'] %>
</div>
