<div class="flex flex-col gap-5">
  <h3 class="font-bold text-2xl">Year Wise Report:</h3>
  <%= column_chart @yearly_data, title: 'Yearly Expenses', xtitle: 'Years', ytitle: 'Expense Amount', colors: ['#35BB78'] %>
</div>
