#flash-message {
  position: fixed;
  right: 50%;
  top: 10%;
  transform: translateX(50%);
  height: fit-content;
  margin: 1rem auto !important;
  width: 50%;
  z-index: 1000;
  transition: all 0.5s ease;
}

#flash-message.hide {
  margin: 0 auto;
  height: 0;
  opacity: 0;
}