<div class="modal" id="rejectModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <%= form_with(model: expense, url: reject_admin_dashboard_path(expense), method: :put, local: false ,class: "reject-form is-danger") do |form| %>
      <header class="modal-card-head">
        <p class="modal-card-title">Reject Expense</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label" for="reasonInput">Reason:</label>
          <div class="control">
            <%= form.text_area :rejection_reason, class: "textarea", required: true %>
          </div>
        </div>
        <div class="field">
          <div class="alert alert-danger reject-error <%= 'is-hidden' if expense.errors[:rejection_reason].empty? %>">
            Please provide a reason for rejection.
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= form.submit "Reject", class: "button is-danger" %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
