<div>
  <span><%= user.email %> </span>
  <%= link_to admin_delete_user_path(user), method: :delete do %>
    <span class="button is-danger is-outlined border-2">
      <span class="icon">
        <i class="fa-solid fa-trash"></i>
      </span>
    </span>
  <% end %>
</div>
