<h1 class="title has-text-primary">User Management</h1>
<%= link_to "Add User", admin_new_user_path, remote: true %>
<%= render "form" %>
<div class="flex flex-col  h-full overflow-y-auto">
  <%= render @users %>
</div>
