<%= form_with( model: User.new, url: admin_create_user_path ) do |form| %>
  <div class="field">
    <%= form.label :email, class: "label" %>
    <div class="control">
      <%= form.text_field :email, class: "input" %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.submit "invite", class: "button is-link" %>
    </div>
  </div>
<% end %>
