<div class="container p-10">
  <div class="box !rounded-2xl overflow-hidden p-0 flex flex-col">
    <section class="bg-primary p-10 flex justify-center">
      <%= image_tag("logo-white.png", alt: "Logo", class: "h-40 w-auto") %>
    </section>
    <section class="flex flex-col p-10">
      <h2 class="text-4xl font-bold text-primary"><%= @title %></h2>
      <span class="font-bold text-xl my-6">Hello <%= @user.email %>,</span>
      <div class="flex flex-col gap-5">
        <div class="mail-container flex flex-col gap-5">
          <%= yield %>
        </div>
        <div class="my-5 font-light">
          <p>Best regards,</p>
          <p>Your Expense Master Team</p>
        </div>
      </div>
    </section>
  </div>
</div>
