<%= content_for :user do %>
  <div class="py-20 px-5 flex w-full h-full overflow-hidden">
    <%= render "shared/side_navbar" %>
    <div class="section h-full w-full flex-grow overflow-hidden">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
